.todoOuter {
  min-height: 90vh;
  width: 100vw;
  padding: 5px;
  background-color: rgb(219, 219, 219);
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
  background-image: url("./images/todobgbgb.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.formOuter {
  padding: 10px;
  background-image: url("./images/todobg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 5px;
  width: 500px;
  min-height: 400px;
}
.todoHead {
  /* color: blueviolet;*/
  margin-bottom: 20px;
  color: white;
  font-weight: bold;
  font-size: 30px;
  font-family: cursive;
  margin-bottom: 20px;
}
.inputdiv {
  /*  background-color: black; */
  text-align: center;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.inputdiv input {
  width: 350px;
  font-size: 20px;
  border: none;
  outline: none;
  border-radius: 3px;
  padding: 10px 7px;
}
.inputdiv button {
  padding: 3px 20px;
  border: none;
  border-radius: 4px;
  font-size: 20px;
  background-color: blueviolet;
  color: white;
  margin: 3px;
  cursor: pointer;
  transition: all ease 0.35s;
}
.todoitemsOuter {
  border-radius: 4px;
  width: 90%;
  margin: 20px auto;
  height: 350px;
  overflow: auto;
  scrollbar-width: thin;
  scroll-behavior: smooth;
  scroll-snap-type: mandatory;
}
.zeroItem {
  background-color: rgba(240, 248, 255, 0.405);
  border-radius: 4px;
  width: 90%;
  margin: 20px auto;
  height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 25px;
  font-family: cursive;
  color: white;
}
.item {
  margin: 10px;
  margin-bottom: 10px;
  padding: 7px 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgba(235, 235, 235, 0.624);
  border-radius: 10px;
}
.item-txt {
  font-size: 22px;
  width: 400px;
}

#trash {
  font-size: 27px;
  padding: 7px 10px;
  border-radius: 50%;
  transition: all ease 0.35s;
  cursor: pointer;
}
#trash:hover {
  background-color: rgb(36, 36, 36);
  color: white;
}
.addbtn:hover {
  opacity: 0.9;
}
.contract {
  min-height: 90vh;
  width: 90vw;
  margin: 20px auto;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  background-color: rgb(219, 219, 219);
}
.conLeft,
.conRight {
  width: 500px;
  height: 500px;
}
.conLeft {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  /* background-color: rgba(181, 181, 181, 0.399); */
  align-items: end;
  justify-content: center;
}
.conRight {
  background-image: url("./images/contract.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  display: flex;
  justify-content: start;
  align-items: end;
  margin-bottom: 22px;
}
.contractHeading {
  margin-bottom: 100px;
  width: 100%;
  font-size: 40px;
  color: blueviolet;
  font-weight: bold;
  font-family: cursive;
}
.leftItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 300px;
  justify-content: space-evenly;
  padding: 10px;
  /*   border-top-left-radius: 7px;
  border-bottom-left-radius: 7px; */
  background-color: rgba(254, 244, 254, 0.783);
  width: 300px;
}
.contractus {
  border: none;
  padding: 8px 20px;
  font-size: 20px;
  border-radius: 5px;
  background-color: blueviolet;
  color: white;
  transition: all ease 0.45s;
  cursor: pointer;
}
.contractus:hover {
  background-color: black;
}
